@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Entities.Concrete.CustomerClasses.Customer>

<div class="text-end">
    <a asp-action="Create" asp-controller="Customer" class="btn btn-warning mb-3">Müşteri Ekle</a>
</div>
<div class="text-start">
    <h2 class="mb-3 mt-3 fw-bolder">Müşteri Listesi<hr /></h2>
</div>
<div class="text-center">
    <table class="table-responsive table table-hover ">
        <thead>
            <tr>
                <th>Tc Kimlik No</th>
                <th>Ad</th>
                <th>Soyad</th>
                <th>D. Tarihi</th>
                <th>Uygulama Kayıt Yeri</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GovernmentId</td>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.BirthYear</td>
                        <td>@item.Application?.Name </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" asp-controller="Customer" title="Düzenle" class="btn btn-primary">Düzenle </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" asp-controller="Customer" title="Sil" class="btn btn-danger"> Sil </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>